@using WebTarjeta.Extencion;
@{
    Tarjeta tarjeta = Context.Session.GetObject<Tarjeta>("Tarjeta");
}
@model Movimiento

@{
    ViewData["Title"] = "NumeroTarjeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Estado de cuenta Tarjeta @tarjeta.NumeroTarjeta </h1>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">Titular: @tarjeta.Nombre </div> <div class="col-6">Saldo: @tarjeta.Saldo </div>
        </div>
        <div class="row">
            <div class="col-6">Limite: @tarjeta.Limite </div> <div class="col-6">Disponible: @tarjeta.Disponible </div>
        </div>
           
    </div>
    <div class="card-body">
        
        <table class="table">
            <thead>
                <tr>
                    <th>Monto</th>
                    <th>Descripcion</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <a asp-action="Pago" class="btn btn-primary">Agregar pago</a>
        <a asp-action="Compra" class="btn btn-warning">Agregar Compra</a>
    </div>

</div>

